/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*****************************************************************************/
/* BEGIN MEYER RESET (NOT MY CODE!)                                          
/* I read about CSS best practices. One suggestion is to use a "Meyer Reset"
/* to strip out browser-specific default formatting that may cause 
/* inconsistencies between browsers.
/* Best practices: https://code.tutsplus.com/tutorials/30-css-best-practices-for-beginners--net-6741
/* Reset copied from: https://gist.githubusercontent.com/hcatlin/1027867/raw/dc4f0c2ebf8e58026e65edc9fbabe812c3621805/reset.scss
/*****************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/*****************************************************************************/
/* END MEYER RESET  (NOT MY CODE!)                                           */
/*****************************************************************************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	color: white;
	background-color: black;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', 'Helvetica', sans-serif;
}

#copyright {
	color: darkgray;
	opacity: 0.5;
	padding-top: 30px;
}


button {
    background-color: black;
    font-family: "Raleway", "Helvetica", sans-serif;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
    margin: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2.5px;
}