// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-gray-text: rgba(255,255,255,0.5);
$white-background-text: rgba(77,87,104,0.6);


#headline {
	padding-bottom: 32px;
	padding-top: 475px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	>div {
		display: inline-block;
		>h1 {
			font-size: 50px;
			font-weight: bold;
			letter-spacing: 2.2px;
		}
		>h2 {
			font-size: 34px;
			font-weight: lighter;
			letter-spacing: 1.5px;
			color: $light-gray-text;
		}
	}
}

.triplet {
	padding: 0 50px;
	padding-top: 10px;
	text-align: center;
	font-size: 0;
	>div {
		font-size: initial;
		display: inline-block;
		width: 33%;
		padding: 20px;
		padding-bottom: 50px;
		vertical-align: top;
		&.center-triplet {
			border-left: 1px solid rgba(255,255,255,0.2);
			border-right: 1px solid rgba(255,255,255,0.2);
		}
		>img {
			width: 100px;
		}
		>div{
			padding-bottom: 20px;
			>h1 {
			font-family: "Lato", sans-serif;
			font-size: 2em;
		}
		}
		>h2 {
			font-size: 1.5em;
			letter-spacing: 1px;
			padding-top: 20px;
			padding-bottom: 12px;
		}
		>p {
			font-size: 0.9em;
			line-height: 1.5em;
			letter-spacing: 1px;
			font-family: "Raleway";
			color: $light-gray-text;
			padding-left: 30px;
			padding-right: 30px;
		}
		#take-class {
				background-color: #be3f3f;
				width: 75%;
				border-color: #be3f3f;
				font-size: 1.2em;
		}
		#pre-enroll {
			background-color: #be3f3f;
			width: 75%;
			border-color: #be3f3f;
			font-size: 1.2em;
		}
		#gift {
			background-color: #333333;
			border-color: #333333;
		}
		#faq {
			background-color: black;
			border-color: #333333;
			font-color: darkgray;
		}
	}
}

#description {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 0;
	>div {
		width: 100%;
		background-color: white;
		#description-text {
			font-size: initial;
			display: inline-block;
			padding: 48px 64px 48px 64px;
			width: 64.5%;
			vertical-align: top;
			h1 {
				font-size: 3em;
				padding-bottom: 0.3em;
				color: #4D5768;
			}
			p {
				font-size: 1.25em;
				line-height: 1.7;
				color: $white-background-text;
			}
		}
		#description-photo {
			display: inline-block;
			height: 328px;
			width: 35.5%;
			text-align: right;
			img {
				height: 100%;
				width: auto;
			}
		}
	}	
}

#value-props {
	width: 100%;
	padding: 50px 50px 0px 50px;
	font-size: 0;
	/* div containing a triplet */
	>div {
		padding: 60px 60px 60px 60px;
		text-align: center;
		background-repeat: no-repeat;
		#prop-center {
			margin-left: 50px;
			margin-right: 50px;
		}
		.prop {
			font-size: initial;
			display: inline-block;
			background-color: white;
			color: $white-background-text;
			width: calc(33.3% - 33.3px);
			padding: 32px 32px 32px 32px;
			vertical-align: top;
			height: 309px;
			img {
				width: 80px;
			}
			h3 {
				margin: 21px 0px 21px 0px;
				font-size: 1em;
				font-weight: bold;
				color: #4D5768;
			}
			p {
				color: $white-background-text;
				letter-spacing: 1px;
				font-size: 14px;
				line-height: 1.5em;
			}
		}
	}
}

#lesson-container {
	text-align: center;
	padding-left: 120px;
	padding-right: 120px;
	>h1 {
		font-size: 1.4em;
		letter-spacing: 0.2em;
		display: inline-block;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	>div {
		display: inline-block;
		background-color: white;
		color: $white-background-text;
		font-size: 0;
		border-bottom: 1px solid lightgray;
		width: 100%;
		>.lesson-number {
			font-size: initial;
			display: inline-block;
			width: 12%;
			padding-top: 35px;
			text-align: center;
			>h1 {
				font-size: 3em;
				font-family: "Lato", "Helvetica", sans-serif;
				font-weight: lighter;
				color: $white-background-text;
			}
		}
		>.lesson-name-desc {
			font-size: initial;
			display: inline-block;
			width: 88%;
			text-align: left;
			padding-top: 35px;
			vertical-align: top;
			padding-left: 5px;
			padding-right: 35px;
			padding-bottom: 35px;
			>h2 {
				font-size: 1.5em;
				color: #4d5768;
				bottom-margin: 5px;
				vertical-align: top;
			}
			>p {
				display: inline-block;
				padding-top: 0.5em;
				line-height: 1.2;
			}
		}
	}
}

#waitlist-form {
	display: inline-block;
	>div {
		display: inline-block;
	}
	h3 {
		font-size: 1.7em;
		letter-spacing: 1px;
		padding-left: 450px;
		padding-top: 30px;
		padding-bottom: 50px;
		font-family: "Helvetica Neue", "Helvetica", sans-serif;
	}
	button {
		display: inline-block;
		background-color: #be3f3f;
		border-color: #be3f3f;
		font-size: 1.2em;
	}
	form {
		padding-left: 400px;
		display: inline-block;
		input {
		    width: 100%;
		    padding: 12px 20px;
		    border-radius: 3px;
		    margin: 8px 0;
		    box-sizing: border-box;
		    font-size: 1.5em;
		    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
		}
	}
}


#testimonials {
	height: 800px;
	background-size: cover;
	background-position: -250px 50px;
	background-repeat: no-repeat;
	position: relative;

	>div {
		padding-top: 100px;
		padding-left: 120px;
		padding-right: 120px;
		#recommendations {
			background-color: white;
			color: $white-background-text;
			font-size: 0;
			.rec-content {
				display: inline-block;
				font-size: initial;
				vertical-align: top;
				width: 65%;
				padding-left: 60px;
				padding-top: 64px;
				
				blockquote{
					display:block;
					color: gray;
					position: relative;
				  
				  /*Font*/
					font-size: 2.2em;
					font-family: "Raleway", "Helvetica", sans-serif;
					color: #4D5768;
					line-height: 1.5;
					padding-left: 45px;
					padding-right: 45px;
					text-align: justify;
				}

				blockquote:before {
				  color: #ccc;
				  font-family: "Times New Roman", serif;
				  content: "\201C";
				  font-size: 2em;
				  position:absolute;
				  left:5px;
				  top: 0.3em;
				  line-height: 0.1em;
				}

				blockquote:after
				 {
				  color: #ccc;
				  font-family: "Times New Roman", serif;
				  content: "\201D";
				  font-size: 2em;
				  position:absolute;
				  right:3px;
				  bottom: 0em;
				  line-height: 0.1em;
				}

				blockquote p {
					display: inline;

				}
			}
			.recommender {
				font-size: initial;
				display: inline-block;
				width: 35%;
				text-align: center;
				padding-top: 50px;
				padding-bottom: 50px;
				padding-left: 30px;
				padding-right: 70px;
				>h2 {
					font-size: 1em;
					color: #4d5768;
					border-top: 1px solid lightgray;
					padding-top: 20px;
					padding-bottom: 10px;
					font-family: "Helvetica Neue", "Helvetica", sans-serif;
				}
				>p {
					font-size: 0.9em;
					line-height: 1.4;
					color: rgba(77,87,104,0.5);
					padding-left: 10px;
					padding-right: 10px;
					letter-spacing: 1px;

				}
				>img {
					border-radius: 50%;
					width: 150px;
					padding-bottom: 10px;
				}
			}
		}
	}
	>.triplet {
		padding-top: 60px;
		>div {
			>h1 {
				font-size: 3em;
				font-family: "Lato", "Helvetica", sans-serif;
				font-weight: lighter;
				line-height: 100px;
			}
			>h2 {
				font-weight: 500;
				font-family: "Helvetica Neue", "Helvetica", sans-serif;
			}
			> p {
				letter-spacing: 1px;
			}
			> img{
				height: 100px;
			}
		}
	}
}

#shares {
	text-align: center;
	padding-top: 80px;
	>div {
		display: inline-block;
		>h3 {
			letter-spacing: 1px;
			color: rgba(255,255,255,0.3);
			font-size: 1.1em;
		}
		.sharelink {
			padding-top: 20px;
			display: inline-block;
			padding-bottom: 60px;
			>img {
				width: 60px;
			}
		}
		#middle-link {
			margin-left: 25px;
			margin-right: 25px;
		}
	}
}

#recommended-courses {
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	>div {
		display: inline-block;
		width: 1300px;

		>h1 {
			font-size: 2em;
			letter-spacing: 2px;
			padding-bottom: 50px;
		}
		>div {
			padding-bottom: 30px;
			.rec_course:first-child {
				text-align: left;
				vertical-align: bottom;
				display: inline-block;
				width: 100%;
				padding-top: 375px;
				padding-right: 900px;
				margin-bottom: 50px;
				padding-left: 50px;
				background-repeat: no-repeat;
				background-size: cover;
				h1 {
					font-size: 2em;
					letter-spacing: 2px;
				}
				h2 {
					padding-top: 10px;
					padding-bottom: 50px;
					color: $light-gray-text;
					font-size: 1.5em;
				}
			}

		}
	}
}

.footer {
	#logo {
		text-align: center;
		padding-bottom: 60px;
		>div {
			display: inline-block;
			border-top: 2px solid gray;
			border-bottom: 2px solid gray;
			padding: 10px 15px 10px 15px;
			img {
				width: 150px;
			}
		}
	}
}






/*
      <h3>Want to know when the class goes live?</h3>
      <form><
        input type="text" value="Your Email" />
      </form>
      <button>JOIN THE WAITLIST</button>

*/
/*
#headline {
	padding-bottom: 32px;
	padding-top: 475px;
	text-align: center;
	>div {
		display: inline-block;
		>h1 {
			font-size: 50px;
			font-weight: bold;
			letter-spacing: 2.2px;
		}
		>h2 {
			font-size: 34px;
			font-weight: lighter;
			letter-spacing: 1.5px;
			color: $light-gray-text;
		}
	}
}
*/
